@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,600;1,700;1,800;1,900&display=swap');
.text-muted{
	color:#777;
}
.font-mont{
	font-family: 'Montserrat',sans-serif;
}
.font-nunito{
	font-family:  'Nunito Sans', sans-serif;
	font-size: 17px;
	font-weight: 500;
}
body
{
	margin:0;
	padding:0;
}
.inputform
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:100vh;
	background-color:#f6dcdc;
	padding:0px 50px;
	text-align: left;
}
.input
{
		padding:20px 1rem;
		width:100%;
		border-radius: 7px;
		border:1px solid lightgray;
}
	.button {
		  margin-top:7%;
		  width: 200px;
		  border: none;
		  color: white;
		  padding: 14px 28px;
		  font-size: 16px;
		  cursor: pointer;
		  margin-right:20px;
		  margin-left:16px;
}
.info {background-color: #f32165;} /* Blue */
.info:hover {background: #f32165;}